@font-face {
    font-family: dogica;
    src: url(dogica.otf);
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

#image-container {
    color: white;
    background-image: url(casey-horner-RmoWqDCqN2E-unsplash.jpg);
    width: 30vw;
}

.image-text-container {
    font-family: dogica, Courier, monospace;
    background: rgba(38, 32, 124, 0.25);
    height: 25vh;
    font-size: 1vw;
    position: relative;
    top: 25%;
}

#form-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    background-color: yellow;
}

.input-container {
    display: flex;
    gap: 32px;
}

.input-container-1,
.input-container-2 {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}

.button-container button {
    width: 25%;
    height: 40px;
}