body {
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: aqua;
}

#image-container {
   font-family: 'url(dogica.otf)', Courier, monospace;
   color: white;
   background: url(casey-horner-RmoWqDCqN2E-unsplash.jpg);
   width: 25vw;
}

#form-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    background-color: yellow;
}

.input-container {
    display: flex;
    gap: 32px;
}

.input-container-1,
.input-container-2 {
    display: flex;
    flex-direction: column;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}

.button-container button {
    width: 25%;
    height: 40px;
}