#form-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    padding: 16px;
    background-image: url(/home/lawrenz/repos/sign-up-form/casey-horner-RmoWqDCqN2E-unsplash.jpg);
    background-size: 100% 100%;
    color: white;
}

body {
    display: flex;
    margin: 0;
    height: 100vh;
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
}

.input-container {
    display: flex;
    gap: 32px;
}

.input-container-1,
.input-container-2 {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
}

.button-container button {
    width: 25%;
    height: 40px;
}